<mat-toolbar>
  <h1 class="nav-title">
    Tinder
  </h1>

  <ng-container *ngIf="authService.currentUser$ | async as user; else loginButton">
    <button class="logbutton" mat-button [matMenuTriggerFor]="userMenu">
      <mat-icon>account_circle</mat-icon>
      {{user.displayName}}
      <mat-icon>expand_more</mat-icon>
    </button>

  </ng-container>

  <ng-template #loginButton>
    <button class="logbutton" mat-button routerLink="login">Login
      <mat-icon>login</mat-icon>
    </button>
  </ng-template>

</mat-toolbar>


<div class="content">
  <router-outlet></router-outlet>
</div>

<mat-menu #userMenu="matMenu">
  <button mat-menu-item (click)="logout()">Logout</button>
</mat-menu>