<mat-toolbar color="primary">
  <h1 class="nav-title">
    Tinder
  </h1>

  <ng-container *ngIf="authService.currentUser$ | async as user; else loginButton">
    <button mat-button (click)="logout()">Logout
      <mat-icon>logout</mat-icon>
    </button>

  </ng-container>

  <ng-template #loginButton>
    <button class="logbutton" mat-button routerLink="login">Login
      <mat-icon>login</mat-icon>
    </button>
  </ng-template>

</mat-toolbar>


<div class="content">
  <router-outlet></router-outlet>
</div>